.video-card-list-item {
  list-style-type: none;
  margin: 10px;
  padding: 5px;
}
.link-item {
  text-decoration: none;
  width: 30%;
}
.thumbnail {
  width: 250px;
  margin-bottom: 5px;
}
.card-content-container {
  display: flex;
  align-items: flex-start;
}
.profile-image {
  height: 40px;
  margin-right: 10px;
}
.title {
  font-size: 14px;
  margin-top: 0;
  font-weight: 600;
}
.name {
  font-size: 14px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.views-time-container {
  display: flex;
  margin-top: 0;
  padding-top: 0;
  font-size: 14px;
}
.views {
  margin-right: 10px;
}
